*{
    box-sizing: border-box;
}
.P800 {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.T3D {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#fold_box {
     position: absolute;
     right: 80px;
     top: 0;
     width: 146px;
     height: 54px;
}
#fold h2 {
    margin: 0;
    width: 146px;
    height: 54px;
    padding-top: 18px;
    line-height: 36px;
    text-indent: 50px;
    font-size: 16px;
    color: #fff;
    background: url(http://www.miaov.com/2013/img/topMenu/topMenu.png) no-repeat;
    position: relative;
    z-index: 2;
    font-family: arial;
    -ms-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -webkit-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    transform: translateZ(1px);
}
#fold_list {
    list-style: none;
    margin: 0;
    padding: 0;
} 
.fold_pager {
    width: 146px;
    height: 30px;
    transform-origin: center top;
}
 #fold_list a {
    display: inline-block;
    background-color: rgb(223, 223, 223);
    width: 146px;
    height: 29px;
    margin-bottom: 1px;
    line-height: 29px;
    color: #d16c6c;
    text-indent: 16px;
    font-size: 13px;
    text-decoration: none;
    z-index: 3;
    font-family: arial;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
     -o-transition: 0.6s;
     transition: 0.6s;
}
#fold_list a:hover {
    background-color: #f69 !important;
    color: #fff;
    text-indent: 20px;
    font-size: 14px;
    box-shadow: 1px 1px 3px 2px #dfdfdf;
}